{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/index.css">
<style>
    .main-div {
        margin: auto;
        width: 80%;
    }
</style>
{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1>Example</h1>
</div>
<br>
<div class="container">
    <a style="font-size: 20px;">For example file you can use the file given in the assignment:</a>
    <a href="/static/example.txt" download="example_file.txt" class="form-label badge text-bg-dark" style="font-size: 20px;">
        Download example.txt</a>
</div>

{% endblock %}

